/*
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/

/*mobile-first*/
.list{
  background-color: tan;
}
@media screen and (min-width: 576px){
  .list{
    background-color: darkcyan;
    font-size: 0;
  }
  .list li{
    display: inline-block;
    font-size: 2rem;
  }
}