body{
  margin: 0;
}
.gallery{
  text-align: center;
}
.image{
  box-sizing: border-box;
  width: 200px;
  /* height: 200px; */
  padding: 15px;
  /* padding-bottom: 0; */
  border: 5px solid beige;
  /* border-bottom: 3px dotted red; */
  /* border-bottom-width:0; */
  /* border-top-style: dashed;
  border-bottom-width:10px;
  border-right-color: red; */
  /* border-radius: 50%; */
  margin: 10px;
  /* margin-left: 0; */
  background-color:white;
}